@use "../../variables/" as *;
@use "../../variables/pages/home" as *;

// currently only work at the start of the line (top or left)
@mixin intersectBlock() {
	& {
		position: relative;
	}

	// white bg
	&::before {
		content: "";
		display: block;
		width: $cvBlockSpacing;
		height: $cvBlockSpacing;
		background-color: #fff;

		position: absolute;
		left: calc(-#{$cvBlockSpacing} * 0.5 - 1px); // -spacing/2 - border width/2
		top: calc(-#{$cvBlockSpacing} * 0.5 - 1px); // -spacing/2 - border height/2
		z-index: 1;
	}

	// intersection block
	&::after {
		content: "";
		display: block;
		border-top: $cvBlockWidth solid $primary; // border used because bgc is hard on print
		width: $cvBlockWidth;

		position: absolute;
		left: calc(-#{$cvBlockWidth} * 0.5 - 1px); // -width/2 - border width/2
		top: calc(-#{$cvBlockWidth} * 0.5 - 1px); // -height/2 - border height/2
		z-index: 1;
	}
}

.cv {
	line-height: 1.5;
	background-color: #fff;
	color: #444;
	padding: $gutters;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, .3);
	position: relative;

	//quick reset
	h3, .h3, h4, .h4 {
		margin-top: 0;
		margin-bottom: 0;
	}

	h3, .h3 {
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 1.2;
		color: #000;
		margin-bottom: 1.5rem
	}

	h4, .h4 {
		font-weight: 500;
		color: #000;
		font-size: 1.25rem
	}

	a {
		text-decoration: none;
	}

	strong, em {
		color: #000;
		font-weight: 500;
		font-style: normal;
	}

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		height:2.5rem;
		vertical-align: middle;
		margin-right: .3rem;
	}

	&__name {
		font-weight: 700;
    	font-size: 2.3rem;
		line-height: 1;
		color: #000;
		vertical-align: middle;
		display: inline-block;
	}

	&__contact {
		text-align: right;
		margin-left: auto;
	}

	&__portfolio {
		color: -webkit-link;
	}

	&__goals {
		margin-bottom: 2.3rem;

		h3 {
			margin-bottom: .6em;
		}
	}

	&__formation {

		&_item {
			margin-bottom: 2rem;

			&:last-child {
				margin-bottom: 0;
			}
		}


	}


	&__employeur {
		display: flex;
		align-items: center;
		margin-bottom: .5rem;

		img {
			// simulate 1.5 lineheight
			margin: .3rem .5rem .3rem 0;
			vertical-align: middle;
		}

		p {
			margin: 0;
		}

		&_date {
			font-size: 90%;
			margin-top: -.2rem;
			display: block;
		}
	}

	&__personality{
		p {
			margin-top: .25rem;
		}

		h4 {
			font-size: 1.1rem;
		}
	}


	&__link {
		color: $colorLink;
		transition: color .2s ease-in-out;
		margin-bottom: -.5rem;

		&:hover {
			color: darken($colorLink, 15%);
		}
	}
	&__row {
		display: flex;

		.cv__separator--v {
			flex-shrink: 0;
			width: 2px;
			background-color: $primary;
		}
	}

	&__col--l {
		flex-grow: 1;
	}

	&__col--r {
		width: 35%;
	}

	&__separator--h {
		border-top: 2px solid $primary;
		margin-top: $cvSeparatorSpacing;
		margin-bottom: $cvSeparatorSpacing;
	}

	&__intersect--l {
		margin-left: -$cvSeparatorSpacingV;
		@include intersectBlock();
	}

	&__intersect--r {
		margin-right: -$cvSeparatorSpacingV;
		@include intersectBlock();

		// hardcoded fix for right intersection block
		&::after,
		&::before{
			left: auto;
			right: calc(-#{$cvBlockSpacing} * 0.5 - 1px); // -width/2 - border width/2
		}

		&::after {
			left: auto;
			right: calc(-#{$cvBlockWidth} * 0.5 - 1px); // -spacing/2 - border width/2
		}
	}

	&__separator--v {
		border-left: 2px solid $primary;
		margin-left: #{$cvSeparatorSpacingV};
		margin-right: #{$cvSeparatorSpacingV};
	}

	&__intersect--top {
		margin-top: -$cvSeparatorSpacing;
		@include intersectBlock();
	}

	&__printBtn {
		appearance: none;
		background-color: #fff;
		border: 1px solid $primary;
		background-color: $primary;
		color: #fff;
		padding: .3rem .6rem;
		cursor: pointer;
		font-size:.8rem;
		position:absolute;
		top:0;
		right:0;
		z-index:1
	}

	.testbox {
		margin: 10px 0;
	}
}


@media only screen and (max-width: 767px) {
	.cv {
		&__header {
			flex-direction: column-reverse;
		}

		&__row {
			flex-direction:column;
		}

		&__col--r {
			width:100%;
		}

		&__separator--h,
		&__separator--v {
			display: none;
		}

	}

}

@media print {
  @page { margin: 0; }

	html {
		font-size: 14px;
	}

  body { margin: .25in; }

	main > *:not(.section_cv) {
		display: none;
	}

	.hide_print {
		display:none;
	}

	.section_cv {
		padding: 0;

		.container {
			max-width: none;
			padding: 0;
		}

		.cv__printBtn {
			display: none;
		}

		.cv {
			box-shadow: none;
			padding: .75rem;
			padding-bottom: .25rem;

			// &__tag {
			// 	border: 1px solid $primary;
			// }
		}

	}

}



