@use "../../variables/" as *;

.project {
    &__row {
        display: grid;

        @media screen and (min-width: map-get($mqs, sm) ) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__col {

        @media screen and (min-width: map-get($mqs, sm)) {
            &:nth-last-child(1n + 3) {
                border-bottom: 1px solid $borderColor;
            }
            &:nth-child(2n) {
                border-left: 1px solid $borderColor;
            }
        }

        padding: $gutters;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

    }

    &__img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
}