.peach {
	position: relative;
	font-size: 1rem; // use font size to scale
	display: inline-block;
	transform: rotate(13deg);

	&__ear {
		position: absolute;
		top: 0;
		height: 4em;
	    width: 4em;
	    background-color: pink;
	    box-shadow: 0 0 0 .75em #111;
	    border-radius: 0 100% 0 100%;

	    &--left {
	    	transform: rotate(11deg);
			left: 0;
	    }

	    &--right {
	    	transform: rotate(79deg); // 90deg - 11deg
			right: 0;
	    }
	}

	&__head {
		width: 10em;
		height: 9em;
		border-radius: 50%;
		background-color: #fff;
		overflow: hidden; 
		position: relative
	}

	&__mark--top {
	    width: 12em;
    	height: 5em;
    	background-color: #111;
    	border-radius: 50%;
    	transform: rotate(0.03turn);

	    position: absolute;
	    top: -2.2em;
	    left: 0;

	}

	&__mark--left {
	    height: 13em;
	    width: 13em;
	    background-color: #a27b3e;
	    border-radius: 50%;
	    transform: rotate(0.09turn);
	    position: absolute;
	    top: -6em;
    	left: -6.5em;
	}

	&__eye {
		height: 1.25em;
		width: 1.25em;
	    position: absolute;
	    bottom: 4em;
	    left: 6em;

	    display: grid;
	    place-content: center;
	    

	    &--left {
	    	left: 3em;
			border-radius: 0 75% 0 75%; 
			transform: rotate(-23deg);
			background-color: #000;
	    	
	    	&::before {	
	    		content: "";
	    		display: block;
	    		width: 0.5em;
			    height: 0.5em;
			    border-radius: 50%;
			    background-color: #000;
			    box-shadow: 0 0 0 0.15em #a27b3e;
	    		
	    	}

	    }

	    &--right {
	    	right: 3em;
			border-radius: 75% 0 75% 0; 
			transform: rotate(23deg);
			background-color: #efd3e7;
	    	
	    	&::before {	
	    		content: "";
	    		display: block;
	    		width: 0.5em;
			    height: 0.5em;
			    border-radius: 50%;
			    background-color: #000;
			    box-shadow: 0 0 0 0.15em #a27b3e;
	    	}
	    }

	}
    &__nose {
    	position: absolute;
    	top: 5.5em;
    	left: 50%;
    	transform: translateX(-50%);
    	width: 0;
    	border: 0.6em solid transparent;
    	border-top: .9em solid #000;
    	border-radius: .5em;


    	&::before,
    	&::after {
		    content: "";
		    display: block;
		    width: 0.8em;
		    height: 1em;
		    background-color: #fff;
		    z-index: 1;
		    position: absolute;
		    top: -.9em;
    	}

    	&::before  {
    		border-top-right-radius: 100%;
    		right: 50%;
    	}

    	&::after  {
    		border-top-left-radius: 100%;
    		left: 50%;
    	}
    }

    &__mouth {
    	position: absolute;
    	top: calc(5.5em + 0.9em - 0.5em); //note top + nose height - mouth height
    	left: calc(50% - 1em);
    	// background-color: #000;
    	display: flex;

    	&::before,
    	&::after {
    		content: "";
    		width: 1em;
    		height: 1em;
    		border-bottom-left-radius: 50%;
    		border-bottom-right-radius: 50%;
    		border:  0.14em solid transparent;
    		border-bottom: 0.14em solid #000;
    	}

    	&::before {
    		border-right:  0.14em solid #000;
    		margin-right: -.05em;
    		
    	}

    	&::after {
    		border-left:  0.15em solid #000;
    		margin-right: -.05em;
    		
    	}
    }
} 