.border {
    border:  $border;
}
.border-left {
    border-left:  $border;
}
.border-right {
    border-right:  $border;
}
.border-top {
    border-top:  $border;
}
.border-bottom {
    border-bottom:  $border;
}