//On definit ici le style par defaut des balises presentes sur le site, peu importe ou elles se trouvent (le style pourrait etre ecrase par la suite).
// N'implique habituellement que des selecteurs de balise et des selecteurs d'attribut. Ne pas utiliser de classe ni de !important.
@import "reset";

body{
	font-family: $font;
	color: #000;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
}

em{
	color: inherit;
	font-weight: bold;
}

.nav{
	text-transform: uppercase;
}
/* GLOBAL */

.padding_sides_medium {
	padding-left: $medium;
	padding-right: $medium;
}

.padding_top_section {
	padding-top: 15px;
}

.bt,
.btn {
	transition: 0.25s;
}

//bt normal
.bt,
.btn {
	display: inline-block;
	padding: 1em 2em;
	text-transform: uppercase;
  	border: 2px solid rgba(0,0,0,0);
	color: #fff;
	background-color: $logo_color;

	//bt revert
	&.revert,
	&:hover {
    	text-decoration: none;
		border-color: $logo_color;
		color: $logo_color;
   		background-color: rgba(0,0,0,0);
	}

	&.revert:hover {
    border: 2px solid rgba(0,0,0,0);
  	color: #fff;
  	background-color: $logo_color;
  }
}
.tag{
	padding: 0.5em;
	background-color: #017F7E;
	color: #fff;
	display: inline-block;
}

ul.bullet_list {
	padding-left: $medium;

	& li{
		position: relative;
		margin-bottom: 5px;
		line-height: 1.5em;

		&::before{
			content:"";
			position: absolute;
			left: -$medium / 2 - 2.5px;
			top: calc(.75em - 2.5px);/* 1/2 line height - 1/2 height */
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $logo_color;

		}
	}
}

.nowrap{
	white-space: nowrap;
}

/* UIKIT OVERWRITE */
/* GRID */
.uk-grid {
	margin-top: -25px;
}

.uk-grid > * {
	padding-top: 25px;
}

.uk-grid-small {
	margin-top: -10px;
}

.uk-grid-small > * {
	padding-top: 10px;
}
/* NAV */

.uk-offcanvas-bar {
	width: 50%;
}
@media (min-width: 1220px) {
	/* GRID */
	.uk-grid {
		margin-top: -35px;
	}

	.uk-grid > * {
		padding-top: 35px;
	}

	.uk-grid-small {
		margin-top: -10px;
	}

	.uk-grid-small > * {
		padding-top: 10px;
	}
}
/* UIKIT 12 COL */

.uk-width-1-12 {
	width: 8.333%;
}

.uk-width-2-12 {
	width: 16.666%;
}

.uk-width-3-12 {
	width: 25%;
}

.uk-width-4-12 {
	width: 33.333%;
}

.uk-width-5-12 {
	width: 41.666%;
}

.uk-width-6-12 {
	width: 50%;
}

.uk-width-7-12 {
	width: 58.333%;
}

.uk-width-8-12 {
	width: 66.666%;
}

.uk-width-9-12 {
	width: 75%;
}

.uk-width-10-12 {
	width: 83.333%;
}

.uk-width-11-12 {
	width: 91.666%;
}
/* Only tablets and desktop */
@media (min-width: 768px) {
	.uk-width-medium-1-12 {
		width: 8.333%;
	}

	.uk-width-medium-2-12 {
		width: 16.666%;
	}

	.uk-width-medium-3-12 {
		width: 25%;
	}

	.uk-width-medium-4-12 {
		width: 33.333%;
	}

	.uk-width-medium-5-12 {
		width: 41.666%;
	}

	.uk-width-medium-6-12 {
		width: 50%;
	}

	.uk-width-medium-7-12 {
		width: 58.333%;
	}

	.uk-width-medium-8-12 {
		width: 66.666%;
	}

	.uk-width-medium-9-12 {
		width: 75%;
	}

	.uk-width-medium-10-12 {
		width: 83.333%;
	}

	.uk-width-medium-11-12 {
		width: 91.666%;
	}
}
/* Only desktop */
@media (min-width: 1220px) {
	.uk-width-large-1-12 {
		width: 8.333%;
	}

	.uk-width-large-2-12 {
		width: 16.666%;
	}

	.uk-width-large-3-12 {
		width: 25%;
	}

	.uk-width-large-4-12 {
		width: 33.333%;
	}

	.uk-width-large-5-12 {
		width: 41.666%;
	}

	.uk-width-large-6-12 {
		width: 50%;
	}

	.uk-width-large-7-12 {
		width: 58.333%;
	}

	.uk-width-large-8-12 {
		width: 66.666%;
	}

	.uk-width-large-9-12 {
		width: 75%;
	}

	.uk-width-large-10-12 {
		width: 83.333%;
	}

	.uk-width-large-11-12 {
		width: 91.666%;
	}
}
