//On applique ici un style aux "composantes majeures" du site (header, footer, main...)
//Il faut aussi réfléchir aux styles communs de ces composantes et leur ajouter un classe commune si nécessaire (.inner, .wrapper...)
body{
	position: relative;
	padding-bottom: $footerHeight;
	min-height: 100vh;
}
/* GLOBAL CLASS */
.nav {
	z-index: 99;
	font-weight: 600;
	background-color: #fff;
	border-bottom: $soft_border;
	padding: $small $medium;
	font-family: $font;
	//nav_burger
	&_burger {
		line-height: $large;
		font-size: 2em;
	}
	//nav_logo_wrapper
	&_logo_wrapper,
	//nav_wrapper
	&_wrapper {
		max-width: 258px;
		margin: 0 auto;
		//nav_wrapper a
		& a {
			color: #fff;
		}
	}
	//nav_item
	&_item {
		padding: 0 $small;
		//nav_item_text
		&_text {
			line-height: $large;
			transition: 0.25s;
			//nav_item_text:hover
			&:hover {
				text-decoration: none;
				color: $logo_color;
			}
		}
		//nav_item.active
		&.active .nav_item_text {
			color: $logo_color;
		}
	}
	//nav_logo_wrapper
	&_logo_wrapper {
		padding: $small $medium;
		text-align: center;
	}
	//nav_logo_icon
	&_logo_icon {
		max-height: $large;
	}
}
//nav

.subNav {
	display: none;
}

.header {
	//header_logo_wrapper,
	//header_imgBanner
	&_logo_wrapper,
	&_imgBanner {
		margin-bottom: $medium;
	}
	//header_logo_wrapper
	&_logo_wrapper{
		text-align: center;
	}
}

//CONTENT
.page_container {
	margin: 0 auto;
	padding: $large $small;
}

.page_wrapper {
	max-width: 1260px;
	margin: 0 auto;
}


.main_title {
	text-align: center;
	padding: 0.5em 0;
	background-color: $titleColor;
	color: #fff;
	position: relative;
	margin-bottom: 45px;
	margin-top: 10px;
	text-transform: uppercase;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: -5px;
		border-top: 3px solid $titleColor;
	}

	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: -5px;
		border-bottom: 3px solid $titleColor;
	}
}

//FOOTER
footer{
	height: $footerHeight;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.footer {
	background-color: #333;
	position: relative;
	font-family: $font;
	padding: $medium;
  text-align: center;

	&_type {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	& *,
	& a {
		color: #fff;
	}

	& a:hover {
		text-decoration: underline;
		color: #fff;
	}

	.toTop {
		font-size: 25px;
		position: absolute;
		top: $medium;
		right: $medium;
	}

  //footer_icon_wrapper
  &_icon_wrapper{
    height: 30px;

    & *{
      height: 100%;
      width: auto;
    }
  }
  &_icon_list{
  text-align: center;
  margin-top: $medium;
    & li{
      padding: 0 $small;
      display: inline-block;
    }
  }

}
// less than 767px
@media screen and (max-width: 767px) {
	.footer_logo_icon {
		display: none;
	}
}
//more than 768px
@media screen and (min-width: 768px) {
	/*  OVERWRITE UK OFFCANVAS */
	.uk-offcanvas-page {
		width: inherit !important;
		height: inherit !important;
		margin-left: 0 !important;
	}

	.uk-offcanvas,
	.uk-offcanvas-bar {
		display: block;
		position: static;
		background: rgba(0,0,0,0);
		touch-action: auto;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		width: 100%;
		overflow-y: initial;
	}

	.nav {
		&_wrapper {
			text-align: center;
			max-width: none;

			& a {
				color: #000;
			}
		}

		&_item {
			display: inline-block;
		}

		&_burger {
			display: none;
		}

		&_logo_wrapper {
			padding: 0;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
